  <!--  Diseño de la Navbar "categoria productos"-->
  <h3 class="cont-navs">Categoria de Productos</h3>
<div class="categorias jfc-sw">
    <div class="box-categorias box1 zoom">
        <a href="/home/catArtisticos">
            <img class="icon-categories " src="img/Img/Icons-categories/Arts.jpg" alt="">
            <h3> ARTISTICOS</h3>
        </a>
    </div>
    <div class="box-categorias box2 zoom">
        <a href="/home/catTecnicos">
            <img class="icon-categories " src="img/Img/Icons-categories/Energy equivalency.jpg" alt="">
            <h3>TECNICOS</h3>
        </a>
    </div>
</div>
<div class="categorias jfc-cen">
    <div class="box-categorias box3 zoom ">
        <a href="/home/catEscolares">
            <div class="contenido-box">
                <img class="icon-categories" src="img/Img/Icons-categories/Bag.jpg" alt="">
                <h3>ESCOLARES</h3>
            </div>
        </a>
    </div>
</div>
<div class="categorias jfc-sw ">
    <div class="box-categorias box4 zoom">
        <a href="/home/catComerciales">
            <img class="icon-categories" src="img/Img/Icons-categories/Tools.jpg" alt="">
            <h3>COMERCIALES</h3>
        </a>
    </div>
    <div class="box-categorias box5 zoom">
        <a href="/home/catAgendas">
            <img class="icon-categories zoom" src="img/Img/Icons-categories/Notebook.jpg" alt="">
            <h3>AGENDAS</h3>
        </a>
    </div>
</div>