<!--<div class="estruct-card">
    <% tecnicos2.forEach(tecnico2"=> { %>
        <div class="Card">
            <img class="imgCard" src="<%=tecnico2.imagen%>" alt="">
            <h5 class="cont-card"><%-tecnico2.name%></h5>
            <button class="precios-cards"> $300.00</button>
        </div>
        <% }) %>
</div>