<nav class="estructura-pagos">
    <div class="metoPagos">
        <div class="pagos1">
            <h5>Medio de Pago en Local</h5>
        </div>
        <div class="pagos">
            <h5>Efectivo</h5>
            <img class="img-pagos" src="/img/Img/Barra de Pagos/efectivo.png" alt="Logo de billetes">
        </div>
        <div class="pagos">
            <h5>Tarj Cred/Debito</h5>
            <img class="img-pagos" src="/img/Img/Barra de Pagos/tarjeta.png" alt="Logo de un tarjeta de credito">
        </div>
        <div class="pagos">
            <h5>Mercado Pago</h5>
            <img class="img-pagos1" src="/img/Img/Barra de Pagos/mercadopago.png" alt="Logo de mercadopago">
        </div>
        <div class="pagos">
            <h5>Transf.Bancaria</h5>
            <img class="img-pagos" src="/img/Img/Barra de Pagos/bancaria.png" alt="Logo de un banco">
        </div>
    </div>
</nav>