<!-- MODAL//QUIENES SOMOS    -->
<div class="modal-container-quienesSomos" id="modal-container-quienesSomos">
    <div class="modal-quienesSomos">
        <div class="quienesSomos-modal">
            <div class="header-modal">
                <h3 class="titulo-modal">Quienes Somos</h3>
                <button class="button-emerg" id="close">
                    <i class="fas fa-times"></i>
                </button>
            </div>

            <p class="parraf-about">
                Lorem ipsum dolor sit amet consectetur adipiscing elit tristique pellentesque dui dapibus,
                sollicitudin sapien sed aptent ullamcorper lacus ac duis nisl imperdiet, accumsan fames
                estaenean
                justo fringilla mattis tortor libero id. Habitant feugiat ornare suscipit lectus erat justo
                non,
                porta dapibus fusce nisi pharetra facilisi in mattis, parturient ante curabitur congue
                sodales
                senectus. Vitae eu aliquam massa rutrum nulla phasellus sapien augue, leo varius accumsan
                odio
                tortor et gravida dui dis, nibh praesent tincidunt ad sociis nostra cubilia.

                Scelerisque hac conubia quisque leo velit porttitor blandit habitasse a, convallis magnis
                nam
                bibendum ultrices nibh mollis fermentum. Volutpat mi mus et felis lacus vel imperdiet,
                suspendisse
                vivamus duis accumsan ad dis hendrerit sollicitudin, mattis nascetur magna massa facilisi
                non.
            </p>

            <div class="ubicacion-emerg">
                <h3 class="subtitulos-modal">nos encontramos en</h3>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13131.907764445308!2d-58.40637100000001!3d-34.630023!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb04ae318545%3A0xb04a96501badfe2d!2sLa%20Rioja%201700%2C%20C1244%20CABA!5e0!3m2!1ses-419!2sar!4v1629203073221!5m2!1ses-419!2sar"
                    width="350" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <h4 class="subtitulos-modal">entre Av. Juan de Garay e Inclan</h4>
                <h4 class="subtitulos-modal">lineas de colectivo: 101,97,4,143,31,32</h4>
                <h4 class="subtitulos-modal">estacion cercana linea h est. Inclan"</h4>
            </div>

        </div>
    </div>

</div>
<!-- MODAL/CONTACTO  -->
<div class="modal-container-contacto" id="modalContainer-Contacto">
    <div class="modal-contacto">
        <div class="contactos-modal">
            <div class="header-modal">
                <h3 class="titulo-modal">contactanos</h3>
                <button class="button-emerg" id="close-contacto">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <h4 class="subtitulos-modal">podes llamarnos al </h4>
            <a class="links-contactos" href="tel:+5491143230315">
                <i class="fas fa-phone"></i>
                4323-0315</a>
            <h4 class="subtitulos-modal">o podes escribirnos mediante</h4>
            <a class="links-contactos separacion" href="https://api.whatsapp.com/send?phone= +5491133503782">
                <i class="fas fa-mobile"></i>
                11-3350-3782 </a>
            <br>
            <a class="links-contactos" href="mailto:libreria-loremim@gmail.com">
                <i class="far fa-envelope-open"></i>
                libreria-loremim@gmail.com</a>
            <h4 class="subtitulos-modal">seguinos en nuestras redes</h4>
            <a class="links-contactos" href="https://www.instagram.com/niico_bar/?hl=es-la">
                <i class="fab fa-instagram"></i>
                Libreria-Lorem
            </a>
           
        </div>
    </div>
</div>