<section class="portada">
    <div class="cont-portada">
        <h2 class="titles-port f-size-50">Veni y Conocenos!!</h2>
        <h2 class="titles-port f-size-30">Ahora podes consultanos por productos, precios y realizar pedidos</h2>
        <h2 class="titles-port f-size-30">A traves de nuestros medio de contacto</h2>
    </div>
</section>